#google-map {
  position: relative;
  display: hidden;
  top: 2.5vh;
  left: 2.5vw;
  z-index: 0;
}

#start-wrapper {
  position: absolute;
  width: 20vw;
  top: 40vh;
  left: 40vw;
  z-index: 10;
}

#timer-wrapper {
  position: absolute;
  width: 10rem;
  padding: 1vh 2vw 1vh 1vw;
  top: 2vh;
  right: -1vh;
  text-align: left;
  z-index: 1;
}

#question-wrapper {
  position: absolute;
  padding: 1vh 1vw 1vh 2vw;
  top: 2vh;
  left: -1vh;
  z-index: 1;
}

#submit-wrapper {
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: 2.5vw;
  bottom: 2.5vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
#cancel-wrapper {
  position: absolute;
  width: 4rem;
  height: 4rem;
  left: 2.5vw;
  bottom: 2.5vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
#next-wrapper {
  position: absolute;
  width: 10rem;
  padding: 1vh 2vw 1vh 1vw;
  bottom: 2vh;
  right: -1vh;
  text-align: left;
  z-index: 1;
}
#totaliser-wrapper {
  position: absolute;
  width: 15rem;
  padding: 1vh 2vw 1vh 1vw;
  top: 75vh;
  right: -1vh;
  text-align: left;
  z-index: 1;
}

#score-wrapper {
  position: absolute;
  width: 10rem;
  padding: 1vh 2vw 1vh 1vw;
  top: 15vh;
  right: -1vh;
  text-align: left;
  z-index: 1;
}

#login-form-wrapper {
  width: 50vw;
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw;
  justify-content: space-around;
  align-items: center;
}
#login-form {
  width: 80%;
  margin: 0 auto;
}
#login-form > * {
  margin: 1vh 0;
}

#button-wrapper {
  width: 50%;
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

#button-wrapper > * {
  margin: 1vh 0;
}

#logout-wrapper {
  width: 30vw;
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw;
  justify-content: space-around;
  align-items: center;
}

#home-wrapper {
  width: 60vw;
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw;
  justify-content: space-around;
  align-content: center;
}

#results-wrapper {
  width: 95vw;
  margin: 5vh auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#player-results-wrapper {
  width: 50vw;
}

#leaderboard-wrapper {
  width: 40vw;
}

#lobby-wrapper {
  margin: 5vh auto;
  width: 90vw;
}
