#google-map {
  position: absolute;
  top: 2.5vh;
  left: 2.5vw;
  z-index: 0;
}

#timer-wrapper {
  position: absolute;
  width: 8rem;
  padding: 1vh 2vw 1vh 1vw;
  top: 2vh;
  right: -1vh;
  text-align: center;
  z-index: 1;
}

#question-wrapper {
  position: absolute;
  padding: 1vh 1vw 1vh 2vw;
  top: 2vh;
  left: -1vh;
  z-index: 1;
}

#submit-wrapper {
  position: absolute;
  right: 2vw;
  bottom: 5vh;
  z-index: 1;
}

#score-wrapper {
  position: absolute;
  padding: 1vh 1vw 1vh 2vw;
  top: 15vh;
  left: -1vh;
  z-index: 1;
}

#login-form-wrapper {
  width: 30vw;
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw;
  justify-content: space-around;
}

.two-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

#logout-wrapper {
  width: 30vw;
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw;
  justify-content: space-around;
  align-items: center;
}

#home-wrapper {
  width: 30vw;
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw;
  justify-content: space-around;
  align-content: center;
}
